<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Question & Context</title>
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700'}">
    <link rel="stylesheet" th:href="@{assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/Contact-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Footer-Basic.css}">
    <link rel="stylesheet" th:href="@{assets/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Navigation-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Navigation-with-Button.css}">
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="UserCenter">Magic Box</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/UserCenter" >User Center</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="contact-clean">
        <form method="post" action="/getAnswer" id="GetAnswer">
            <h2 class="text-center">Question &amp; Context</h2>
            <div class="form-group"><input class="form-control" type="text" name="question" placeholder="Question" required></div>
            <div class="form-group" hidden="hidden"><input name="username" th:value="${User.getUsername()}"></div>
            <div class="form-group"><textarea class="form-control" name="context" placeholder="Context" rows="14" required></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit" onclick="doSummit()">Get Answer</button></div>
            <div class="form-group" style="margin: 30px 0px 6px;padding: 6px;" th:if="${Answer}" th:text="${Answer}"><span style="padding: 0px 0px 6px;margin: 0px 0px 6px;border-width: 1px;">(Answer)</span></div>
        </form>
    </div>
    <div class="footer-basic">
        <footer>
            <p class="copyright">ZYChimne © 2020</p>
        </footer>
    </div>
    <script th:src="@{assets/js/jquery.min.js}"></script>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        function doSummit(){
            const a = [[${User.getAllowUsageTimes()}]];
            const b = [[${User.getMember()}]];
            //alert(a+" "+b);
            if(b==true||a>0){
                document.forms["GetAnswer"].submit();
            }
            else {
                alert("You have run out of your usage times");
                return false;
            }
        }
        document.onkeydown = function(){
            if(event.keyCode==13)
            {
                doSummit()
            }
        }
    </script>
</body>

</html>