<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700'}">
    <link rel="stylesheet" th:href="@{assets/fonts/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/Contact-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Footer-Basic.css}">
    <link rel="stylesheet" th:href="@{assets/css/Header-Blue.css}">
    <link rel="stylesheet" th:href="@{assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Navigation-Clean.css}">
    <link rel="stylesheet" th:href="@{assets/css/Navigation-with-Button.css}">
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
</head>

<body>
    <div class="login-clean">
        <form method="post" action="/SummitSignup" id="Signup">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" id="password" name="password" placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="password" id="repassword" name="repassword" placeholder="Retype Your Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" onclick="doSummit()">Sign Up</button></div>
        </form>
    </div>
    <div class="footer-basic">
        <footer>
            <p class="copyright">ZYChimne © 2020</p>
        </footer>
    </div>
    <script th:src="@{assets/js/jquery.min.js}"></script>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        function doSummit(){
            const a = $('#password').val();
            const b = $('#repassword').val();
            if(a==b){
                $('#Signup').submit();
            }
            else{
                alert("The Password is NOT the SAME");
                return false;
            }
        }
        document.onkeydown = function(){
            if(event.keyCode==13)
            {
                document.forms["Signup"].submit();
            }
        }
    </script>
</body>

</html>